{% style %}

    .test-header {
        display: flex;
        background-image: url("{{ section.settings.header-background-image | image_url: width: 3840 }}");
        background-size: cover;
        background-position: center;
        min-height: 70vh;
        width: 100%;
    }

    .test-header-inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 100%;
    }

    .test-header-title {
        margin: 0px;
        color: white;
        text-align: center;
        font-size: 64px;
    }

    .test-header-button {
        background-color: {{ section.settings.header-button-background-color }};
        color: {{ section.settings.header-button-text-color }};
        text-decoration: none;
        padding: 12px 24px;
        margin-top: 50px;
        text-transform: uppercase;
    }

{% endstyle %}

<div class="test-header-inner">

    {% for block in section.blocks %}
        {% case block.type %}

            {%- when 'heading' -%}
                <h2 class="test-header-title banner__heading inline-richtext">{{ block.settings.heading }}</h2>

        {% endcase %}
    {% endfor %}

    <!--<h1>{{ section.settings.header-title-text }}</h1>-->

    <!--<a class="test-header-button" href="{{ section.settings.header-button-link }}">{{ section.settings.header-button-text }}</a>-->

    {% assign tank_button_text = section.settings.header-button-text %}
    {% assign tank_button_link = section.settings.header-button-link %}
    {% assign tank_button_background_color = section.settings.header-button-background-color %}
    {% assign tank_button_text_color = section.settings.header-button-text-color %}

    {% render 'tank2-button',
        text: tank_button_text,
        link: tank_button_link,
        background-color: tank_button_background_color,
        text-color: tank_button_text_color
    %}

</div>

{% schema %}
{
    "name": "Test Header",
    "class": "test-header",
    "settings": [
        {
            "type": "text",
            "id": "header-title-text",
            "default": "Welcome to Our Website",
            "label": "Header Title"
        },
        {
            "type": "image_picker",
            "id": "header-background-image",
            "label": "Header Background Image"
        },
        {
            "type": "text",
            "id": "header-button-text",
            "default": "Click here for more...",
            "label": "Header Button Text"
        },
        {
            "type": "color",
            "id": "header-button-background-color",
            "label": "Button Background Colour",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "header-button-text-color",
            "label": "Button Text Colour",
            "default": "#ffffff"
        },
        {
            "type": "url",
            "id": "header-button-link",
            "label": "Button Link"
        }
    ],
    "blocks": [
        {
            "name": "Header",
            "type": "heading",
            "limit": 1,
            "settings": [
                {
                    "type": "inline_richtext",
                    "id": "heading",
                    "default": "Test header title",
                    "label": "Header title"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Test Header"
        }
    ]
}
{% endschema %}